#news{
	padding: 50px 0 0 0;
	min-height: 68px;
}

#news .news_header h2{
	margin: 0;
	padding: 0;
	font-size: 2em;
}

#news .element{
	outline: 1px solid #b4afab;
	float: left;
	width: 400px;
	height: 500px;
	margin: 25px;
	position: relative;
	overflow: hidden;
}

#news .element:hover .text{
	top: 0;
}

#news .element .name{

}

#news .element .name p{
	margin: 0;
	padding: 0;	
	width: 400px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}

#news .element .img{
	
}

#news .element .img img{
	position: relative;
	bottom: 0;
	width: 400px;
	height: 400px;
}

#news .element .text{
	top: -100%;
	position: absolute;
	height: inherit;
	width: inherit;
	background: rgba(0,0,0,.8);
	transition: .3s;
}

#news .element .text p{
	font-size: 1.3em;
}
#news .element .text a{
	font-size: 1.5em;
	text-decoration: underline;
	color: inherit;
}